# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.pyo
*.pyd
dist/
build/

# YOLO 모델 관련 (개인 추가)
*.jpg
best.pt
config.py

# Virtual environments
venv/
ENV/
env/
.venv/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment files
.env

# 로그 파일
*.log

# Pydantic / pytest cache
.mypy_cache/
.pytest_cache/

# 기타 DB
*.sqlite3
*.db
.zshrc

# Frontend (if needed)
frontend/node_modules/
frontend/dist/
