fastapi
uvicorn
sqlalchemy
pydantic
python-jose[cryptography]
pymysql
pydantic[email]
requests
python-dotenv
boto3
python-multipart
pillow
opencv-python

# yolo 모델 관련
ultralytics==8.3.109
torch==2.2.2
torchvision==0.17.2
numpy==1.26.4